.todoH1 {
  float: left;
}

.todoAddNewButton {
  float: right;
}

.cards {
  margin-left: auto;
  margin-right: auto;
}

.cardsBody {
  text-align: left;
}

.todos {
  margin-top: 20px;
}

.cardButton {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0;
}

#cardButtonDelete {
  margin-left: auto;
}

.todoCards {
  margin-top: 10px;
}

.modalEditFooterText {
  font-size: 80%;
}

.tagsTodoItem {
  margin-left: 5px;
}
